<tr>
  <td><%=entity.name%></td>
  <td> <%=entity.amount%></td>
  <td> <%=entity.occured.strftime("%Y-%m-%d")%></td>
  <td> <%=entity.occured.strftime("%I:%M%p")%></td>
  <% if current_page?(controller: 'entities', action: 'index') %>
      <%if !entity.group.nil?%>
        <td><%=entity.group.name%></td>
      <% else %>
         <td><%=entity.external_group_name%></td>
      <% end %>     
  <% end %>
</tr>
  


 




  



