 <div class="register">
  <i class="fas fa-bars"></i>
  TRANSACTIONS
  <i class="fas fa-search"></i>
</div>
<br><br>
<%=simple_form_for @entity, url: user_external_entities_path(current_user), html: { method: :post } do |f|  %>
  <div>
    <%= f.text_field :external_group_name,placeholder:'Merchant'%>
    <%@entity.errors.full_messages_for(:external_group_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.text_field :name,placeholder:'Item'%>
    <%@entity.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :occured %><br>
    <%= f.datetime_field :occured%>
    <%@entity.errors.full_messages_for(:occured).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.text_field :amount,placeholder:'Amount'%>
    <%@entity.errors.full_messages_for(:amount).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
  <div><br>
    <%= f.submit "Submit",class:"btn btn-success"%>
  </div>
<% end %>