<%= will_paginate @entites, :container => false %>
<div class="register">
  <i class="fas fa-bars"></i>
  TRANSACTIONS
  <i class="fas fa-search"></i>
</div>
<div class="breakdown">
    <div class="recent"><a href="/users/<%= current_user.id%>/all_entities?page=1">Recent Transactions</a></div>
    <a href="/users/<%= current_user.id%>/all_entities?page=<%=@num_pages%>">Ancient Transactions</a>
</div>    
  <div class="cards_container">
    <%= render 'entites'%>
   </div>
  

 