 <br><br>
<%=simple_form_for @entity, url: user_group_entities_path(current_user,params[:group_id]), html: { method: :post } do |f|  %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name%>
  </div>


  <div>
    <%= f.label :occured %><br>
    <%= f.datetime_field :occured%>
  </div>

  <div>
    <%= f.label :amount %><br>
    <%= f.text_field :amount%>
  </div>
  
  <div>
  <div><br>
    <%= f.submit %>
  </div>
<% end %>